/* hero section css  */
@media screen and (max-width: 855px) {
    .hero {
        display: none;
    }
}

/* hero section css  */
/* About tiffin mate section css  */
.about-container {
    background-color: #fed35c;
    width: 100%;
    height: 100%;

}

.about-title h2 {

    font-family: "Montserrat";
    font-weight: 600;
    font-size: 40px;
    color: #191509;
    text-decoration: underline;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 4rem;
}

.about-outer-content {

    width: 100%;
}

.about-content {
    width: 100%;
}

@media screen and (max-width: 1480px) {
    .about-content {
        padding: 0rem 5rem 0rem 5rem;
        width: auto;
    }

    .about-img {
        height: auto;
        width: auto;
    }
}

@media screen and (max-width: 768px) {
    .about-title h2 {
        font-size: 30px;
        color: #000;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .about-title h2 {
        font-size: 30px;
        color: #000;
        text-align: center;
    }
}

/* About tiffin mate section css  */
/* Food card section css  */

.food-container {
    background-color: #fed35c;
    width: 100%;
    height: 100%;
}

.food-card-title {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 40px;
    color: #000;
    display: flex;
    margin-top: 5rem;
    text-decoration: underline;
    justify-content: center;
}

.food-content {
    font-size: 20px;
    font-family: "Montserrat";
    text-align: center;
    margin-top: 1rem;
}

.food-card-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 60px;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
    font-weight: bolder;
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding: 10px;
}

/* @media screen and (max-width: 1442px) {
    .food-card-title {
        font-size: 30px;
    }

    .food-card-grid {
        margin: 0 auto;
    }

    .food-content {
        font-size: 16px;
    }
} */

@media screen and (max-width: 768px) {
    .food-card-title {
        font-size: 30px;
    }

    .food-card-grid {
        grid-template-columns: 1fr;
        margin: 0 auto;
    }

    .food-content {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .food-card-title {
        font-size: 24px;
    }

    .food-content {
        font-size: 14px;
    }

    .food-card-grid {
        grid-template-columns: 1fr;
        margin: 0 auto;
    }
}

/* Food card section css  */

/* Franchise opportunities section css  */

.franchise-container {
    width: 100%;
    height: 100%;
    gap: 16px;
}

.franchise-title {
    font-family: "Montserrat";
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.title-1,
.title-2 {
    display: inline-block;
    font-weight: 600;
    font-size: 40px;
}

.title-1 {
    text-decoration: underline;
    color: #a08111;

}

.title-2 {
    text-decoration: underline;
    color: black;

}

.franchise-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
    height: 100%;
    margin: auto;
    width: 60%;
    padding: 10px;

}

.franchise-content p {
    max-width: 100%;
    line-height: 32px;
    color: #333333;
}

.franchise-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.franchise-button button {

    padding: 20px;
    font-family: "Montserrat";
    font-weight: 600;
    font-style: 18px;
}

/* Franchise opportunities section css  */